@import '../../scss/mixins.scss';
.wiki-salt-modal {
  display: relative;
  max-width: 100vw;
  max-height: 100vh;
  background-color: $bgColor;
  border: 4px solid #6666;
  border-radius: 8px;
  box-shadow: 2px 2px 8px #6666;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 99999998;
  &.wiki-salt-modal-fix {
    position: fixed;
    &.wiki-salt-modal-fix-center {
      padding: 4px 8px;
      min-width: 20vw;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &.wiki-salt-modal-abs {
    position: absolute;
  }
  .wiki-salt-modal-title-container {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    margin: 0 16px;
    border-bottom: 1px solid #6666;
    cursor: all-scroll;
    * {
      cursor: auto;
    }
    .wiki-salt-modal-title {
      height: 32px;
      line-height: 32px;
      font-size: 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .wiki-salt-modal-title-close-btn {
      @include btn($height: 32px, $fontSize: 16px);
      padding: 0;
    }
  }
  // 主体内容
  .wiki-salt-modal-content-container {
    // position: absolute;
    margin: 8px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .wiki-salt-modal-footer-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 8px;
    min-height: 24px;
    font-size: $fontSize;
    .wiki-salt-modal-footer-btn {
      @include btn($height: 24px, $fontSize: $fontSize);
    }
  }

  .wiki-salt-modal-drag-bar {
    position: absolute;
    display: block;
    opacity: 0;
    z-index: 999;
    &-left {
      left: 0;
      top: 8px;
      bottom: 8px;
      width: 8px;
      cursor: w-resize;
    }
    &-right {
      right: 0;
      top: 8px;
      bottom: 8px;
      width: 8px;
      cursor: e-resize;
    }
    &-top {
      top: 0;
      left: 8px;
      right: 8px;
      height: 8px;
      cursor: n-resize;
    }
    &-bottom {
      bottom: 0;
      left: 8px;
      right: 8px;
      height: 8px;
      cursor: s-resize;
    }
  }
}
