@import '../../scss/mixins.scss';

.wiki-salt-edit-modal {
  background-color: var(--bgcolor, #fbf2dc);
  background-clip: padding-box;
  border: 8px solid #6666;
  .wiki-salt-modal-content-container {
    .wiki-salt-edit-modal-edit-textarea {
      width: 100%;
      min-height: 128px;
      resize: vertical;
    }
    .wiki-salt-edit-modal-btn {
      @include btn($height: 24px, $fontSize: 16px);
    }
  }
}
