@import '../../scss/mixins.scss';

.wiki-salt-edit-modal {
  background-clip: padding-box;
  border: 8px solid #6666;
  .wiki-salt-modal-content-container {
    position: relative;
    display: flex;
    height: calc(100% - 49px - 16px);
    // 上下排布
    &.vertical {
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      // .wiki-salt-edit-modal-vertical-bar {
      //   display: block;
      // }
      .wiki-salt-edit-modal-horizon-bar {
        display: none;
      }
    }
    // 左右排布
    &.horizon {
      flex-direction: row;
      justify-content: space-between;
      .wiki-salt-edit-modal-edit-panel {
        position: sticky;
        top: 0;
        height: 100%;
        width: var(--textareaWidth, 50%);
        // padding-right: 8px;
        .wiki-salt-edit-modal-edit-textarea {
          height: 100% !important;
          resize: none;
        }
      }
      .wiki-salt-edit-modal-preview-panel {
        width: var(--previewWidth, 50%);
      }
      // .wiki-salt-edit-modal-horizon-bar {
      //   display: block;
      // }
      .wiki-salt-edit-modal-vertical-bar {
        display: none;
      }
    }
    .wiki-salt-edit-modal-edit-panel {
      .wiki-salt-edit-modal-edit-textarea {
        width: 100%;
        min-height: 240px;
        resize: vertical;
      }
    }
    .wiki-salt-edit-modal-preview-panel {
      position: relative;
      .wiki-salt-edit-modal-preview-btn-group {
        width: 100%;
        margin: 8px 0 0;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        .wiki-salt-edit-modal-btn {
          flex-shrink: 0;
        }
        .wiki-salt-edit-modal-summary-input {
          width: 100%;
        }
      }
      .wiki-salt-edit-modal-preview-content {
        margin: 16px 8px 8px;
        height: calc(100% - 40px - 16px);
        overflow: auto;
        box-shadow: 0 0 0 8px #1111;
        // border: 1px dashed #6666;
        > .mw-parser-output {
          overflow: hidden;
        }
      }
    }
    // 上下排布时的高度调整条
    .wiki-salt-edit-modal-vertical-bar {
      height: 8px;
      width: 100%;
      cursor: n-resize;
    }
    // 左右排布时的宽度调整条
    .wiki-salt-edit-modal-horizon-bar {
      width: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      cursor: w-resize;
      .wiki-salt-edit-modal-bar-icon {
        font-size: 8px;
      }
    }

    .wiki-salt-edit-modal-btn {
      @include btn($height: 24px, $minWidth: 48px, $fontSize: 16px);
    }
  }
}
