@mixin btn($height: 32px, $minWidth: 32px, $fontSize: 24px) {
  display: inline-block;
  min-width: $minWidth;
  height: $height;
  line-height: $height;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: $fontSize;
  text-align: center;
  cursor: pointer;
  user-select: none;
  &:hover {
    background-color: #9993;
  }
}

$bgColor: var(--bgcolor, var(--theme-background-color, #f9f9f9));
$bgColorLight: var(--lightcolor, var(--theme-card-background-color, #fff));

$fontSizeSmall: var(--font-size-small, 14px);
$fontSize: var(--font-size, 16px);
